<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>动态图片切换</title>
        <meta charset="UTF-8">
        <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=qBDTvW5Abz1km1lefW4QVvKrEeqXN4ZN"></script>
    </head>
    <body>
       <div id="root"></div>
    </body>
</html>
